body{
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(226, 244, 193);
font-weight: 600;
font-size: 20px;
}
.logo-flex{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
gap: 20px;
}
hr{
    border: none;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 340px;
    margin-right: 340px;
}
.text-1{
    padding-top: 15px;
    padding-bottom: 20px;
}
.div-1{
margin-top: 50px;
}